.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  & p {
    font-size: 2rem;
  }
  & span {
    font-size: 4rem;
  }
}
.progress-bar {
  width: 200px;
  height: 20px;
  border: 2px solid black;
}
.progress {
  height: 16px;
  background-color: #3c3c3c;
}
