*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Red Hat Display', sans-serif;
  color: #3c3c3c;
  /* background-color: #d1d0d0;
  background: radial-gradient(rgb(227, 225, 225), rgb(79, 71, 44)); */
  /* min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; */
}
